/*
* @Author: Tplant
* @Date:   2017-09-06 14:18:39
* @Last Modified by:   Tplant
* @Last Modified time: 2017-09-07 14:06:40
*/
body, html, ul, p{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.el-carousel__button{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}