$colorB: #333;
$colorS: #666;
$smallSize: 0.407407rem;
// 22px;
$textSize: 0.444444rem;
// 24px
$titleSize: 0.481481rem;
// 26px
$bigTitleSize: 0.4375rem;
// 28px
$biggerTitleSize: 0.592593rem;
// 32px
$red: #d95757;
$borderColor: #e6e6e6;
$blue: #178ce6;
$grey: #a0a0a0;

*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #f7f9fa;
}

body{
    font-size: 14px;
    color: #666;
    line-height: 1;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6,ul, p, dl, dt, dd {
    margin: 0;
    padding: 0;
}
ul  {
    list-style: none;
}

img {
    vertical-align: middle;
}

::-webkit-scrollbar {
    display: none;
    font-size:0.21875rem;
}

input {
    border: none;
    outline: none;
    -webkit-appearance: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     background-color: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

::-webkit-input-placeholder{
    color:#ccc;
}

.login{
    ::-webkit-input-placeholder{
        color:#ccc;
    }
    input{
        border: none;
        font-size:$bigTitleSize;
        color:#cccccc;
        letter-spacing:0;
        line-height:$bigTitleSize;
        text-align:left;
        outline: none;
        flex:1;
        max-width: 3.859375rem;
    }
    label{
        width:2.4375rem;
        display:inline-block;
        color:#333;
        font-size:$bigTitleSize;
    }
    .telephone{
        border-bottom: 1px solid #e3e3e3;
    }
    .loginInput{
        display:flex;
        flex-flow: row;
        padding:0 0.592593rem;
        vertical-align:bottom;
        height: 1.925rem;
        background: #fff;
        line-height: 1.925rem;
        font-size: $bigTitleSize;
        border-bottom: 1px solid #e3e3e3;
    }
    .captcha-container {
    }
    .captcha {
        width: 100%;
    }
    .img-code {
        background:#cccccc;
        border-radius:4px;
        width:2.518519rem;
        height:0.851852rem;
        position: relative;
        top: 0.555556rem;
        line-height:0.851852rem;
        text-align:center;
    }
    .code{
        .getCode{
            border-radius:4px;
            width:2.518519rem;
            height:0.851852rem;
            line-height:0.592593rem;
            position: relative;
            top: 0.555556rem;
            font-size:0.333333rem;
            padding:8px;
            text-align: center;
            background: #1799df;
            display:inline-block;
            border: 0;
            color:#fff;
        }
    }

}
    .button{
        width: 90%;
        margin: 0.75rem auto;
        text-align: center;
        line-height: 1.1875rem;
        height: 1.1875rem;
        background: #49a5f1;
        color: #fff;
        font-size: $bigTitleSize;
        border-radius: 0.25rem;
        border: 0;
    }
    .buttonList{
        display:flex;
        justify-content:between;
        padding:0 0.5rem;
        .button{
            width:45%
        }
    }

    .disabled {
        background-color: #ccc;
    }
    .agree{
        background-color: #49a5f1;
    }
    .danger{
        background-color: #f27979;
    }
.addTraveller {
    .traveller-form {
        background: #fff;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        .traveller-form-item {
            display: flex;
            padding: 0 0.5rem;
            height: 1.1875rem;
            line-height: 1.1875rem;
            font-size: 0.4375rem;
            .form-label {
                position: relative;
                width: 2.5rem;
                color: #333;
                text-indent: 0.3438rem;
                &.form-label-required {
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0.3438rem;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: 0.1719rem 0.1563rem;
                        background-position: center left;
                        background-image: url(~assets/images/star@1x.png);
                    }
                }
            }
            .form-input {
                flex: 1;
            }
        }
        .traveller-form-item + .traveller-form-item {
            border-top: 1px solid #e6e6e6;
        }
    }
    .traveller-control {
        padding: 0 0.5rem;
        height: 0.9375rem;
        line-height: 0.9375rem;
        .traveller-control-checkbox {
            display: flex;
            justify-content: flex-end;
            font-size: 0.375rem;
            color: #666;
            &.active {
                .icon {
                    background-color: #49a5f1;
                    background-image: url(~assets/images/choose.png);
                    background-size: 0.4375rem 0.3125rem;
                    background-position: center;
                    background-repeat: no-repeat;
                    border: none;
                }
            }
            .icon {
                margin-top: 0.1875rem;
                margin-right: 0.1875rem;
                height: 0.5625rem;
                width: 0.5625rem;
                border: 1px solid #999;
                background-color: #fff;
                border-radius: 0.125rem;
            }
        }
    }
    .traveller-title {
        padding: 0 0.5rem;
        color: #666;
        font-size: 0.375rem;
        height: 0.9375rem;
        line-height: 0.9375rem;
    }
    .traveller-section {
        background: #fff;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        .traveller-section-item {
            position: relative;
            padding: 0 0.5rem;
            display: flex;
            height: 1.1875rem;
            line-height: 1.1875rem;
            color: #333;
            font-size: 0.4375rem;
            .name {
                width: 1.5625rem;
            }
            .id {
                flex: 1;
            }
            .choose-icon {
                position: absolute;
                right: 0.5rem;
                top: 50%;
                transform: translate3d(0, -50%, 0);
                width: 0.5313rem;
                height: 0.375rem;
            }
        }
        .traveller-section-item + .traveller-section-item {
            border-top: 1px solid #e6e6e6;
        }
    }
}
