$colorB: #333;
$colorS: #666;
$smallSize: 0.407407rem;
// 22px;
$textSize: 0.444444rem;
// 24px
$titleSize: 0.481481rem;
// 26px
$bigTitleSize: 0.4375rem;
// 28px
$biggerTitleSize: 0.592593rem;
// 32px
$red: #d95757;
$borderColor: #e6e6e6;
$blue: #178ce6;
$grey: #a0a0a0;

*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #f7f9fa;
}

body{
    font-size: 14px;
    color: #666;
    line-height: 1;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6,ul, p, dl, dt, dd {
    margin: 0;
    padding: 0;
}
ul  {
    list-style: none;
}

img {
    vertical-align: middle;
}

::-webkit-scrollbar {
    display: none;
    font-size:0.21875rem;
}

input {
    border: none;
    outline: none;
    -webkit-appearance: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     background-color: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

::-webkit-input-placeholder{
    color:#ccc;
}

.login{
    ::-webkit-input-placeholder{
        color:#ccc;
    }
    input{
        border: none;
        font-size:$bigTitleSize;
        color:#cccccc;
        letter-spacing:0;
        line-height:$bigTitleSize;
        text-align:left;
        outline: none;
        flex:1;
        max-width: 3.859375rem;
    }
    label{
        width:2.4375rem;
        display:inline-block;
        color:#333;
        font-size:$bigTitleSize;
    }
    .telephone{
        border-bottom: 1px solid #e3e3e3;
    }
    .loginInput{
        display:flex;
        flex-flow: row;
        padding:0 0.592593rem;
        vertical-align:bottom;
        height: 1.925rem;
        background: #fff;
        line-height: 1.925rem;
        font-size: $bigTitleSize;
        border-bottom: 1px solid #e3e3e3;
    }
    .captcha-container {
    }
    .captcha {
        width: 100%;
    }
    .img-code {
        background:#cccccc;
        border-radius:4px;
        width:2.518519rem;
        height:0.851852rem;
        position: relative;
        top: 0.555556rem;
        line-height:0.851852rem;
        text-align:center;
    }
    .code{
        .getCode{
            border-radius:4px;
            width:2.518519rem;
            height:0.851852rem;
            line-height:0.592593rem;
            position: relative;
            top: 0.555556rem;
            font-size:0.333333rem;
            padding:8px;
            text-align: center;
            background: #1799df;
            display:inline-block;
            border: 0;
            color:#fff;
        }
    }
    .button{
        width: 90%;
        margin: 0.75rem auto;
        text-align: center;
        line-height: 1.1875rem;
        height: 1.1875rem;
        background: #49a5f1;
        color: #fff;
        font-size: $bigTitleSize;
        border-radius: 0.25rem;
        border: 0;
    }
    .disabled {
        background-color: #ccc;
    }
    .agree{
        background-color: #49a5f1;
    }
}
